.ui-calculator .calc-display-value {
	text-align: right;
	padding: 0 2px 0 2px;
	color: #000;
}

.ui-calculator  {
	border: 1px solid #DDCCDD;
	height: 100%;
}

.ui-calculator table  {
	width: 100%;
}

.ui-calculator td {
	text-align: center;
	color: #606060;
	width: 80px;
	height: 30px;
	border: 1px solid #DDCCDD;
	margin: 2px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-webkit-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

.ui-calculator tbody td:hover {
	border: 1px solid #FFC500;
}

.ui-calculator thead td {
	font-size: 1.25em;
}

/* @media screen and (min-width: 400px) {
	.ui-calculator td {
		font-size: 1em;
		height: 30px;
	}
}

@media screen and (min-width: 800px) {
	.ui-calculator td {
		font-size: 3em;
		height: 100px;
	}
} */